@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

@import 'tailwindcss';

@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite"; 

body{
 font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

